<link rel="stylesheet" href="/css/header_footer.css">

<!--pc header-->
<header class="pc_header fixed">
    <div class="con">
        <div class="logo-wrap">
            <div class="img"><img class="h-[60px] w-[60px]" src= "/images/fgm-transparent .png" alt=""></div>
            <h1 class="title">FIRE OF GOD MINISTRIES</h1>
        </div>
        <div class="menu_wrap">
            <ul>
                <li>Programs/Services</li>
                <li>About Us</li>
                <li>Donate</li>
                <li class="relative pc_more_btn">More &nbsp; <i class="fa-solid fa-caret-down"></i>
                    <ul class="sub_menu">
                        <li>Contact</li>
                        <li>Contributors</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--pc header:end-->

<!--mobile header-->
<header class="mobile_header fixed">
    <div class="con">
        <div class="btn_wrap ">
            <div class="subscribe_btn"><i class="fa-solid fa-bell "></i></div>
            <div class="search_btn"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>

        <div class="logo-wrap">
            <div class="img"><img class="h-[50px] w-[50px]" src= "/images/fgm-transparent .png" alt=""></div>
            <h1 class="title">FIRE OF GOD MINISTRIES</h1>
        </div>

        <div class="menu_expansion_burger">
            <i class="fa-solid fa-bars text-[20px] block"></i>
        </div>
    </div>
</header>
<!--mobile header:end-->

<!--mobile sideBar -->
<div class="mobile_side_bar inset-0 h-[100vh]">
    <div class="mobile_side_bar__contents w-60 h-full ml-auto flex ">
        <div class="mobile_side_bar__head  pt-[23px] pb-[23px]">
            <i class="fa-solid fa-x text-white font-bold ml-auto block w-[10%] text-[20px]"></i></div>
        <div class="mobile_side_bar__body  flex-grow h-full">
            <div class="mobile_side_bar__body__menu_box">
                <ul>
                    <li>Programs/Services</li>
                    <li>About Us</li>
                    <li>Donate</li>
                    <li class="relative more_btn">
                        <p class="">More &nbsp;<i class="fa-solid fa-caret-down"></i></p>
                        <ul class="mobile_sub_menu">
                            <li>Contact</li>
                            <li>Contributors</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>
<!--mobile sideBar:end -->