<link rel="stylesheet" href="/css/header_footer.css">

<!--pc header-->
<header class="pc_header fixed">
    <div class="con">
        <div class="logo-wrap">
            <div class="img"><img class="h-[60px] w-[60px]" src= "/images/fgm-transparent .png" alt=""></div>
            <h1 class="title"><a href="/page/main">FIRE OF GOD MINISTRIES</a></h1>
        </div>
        <div class="menu_wrap">
            <ul>
                <li><a href="/page/programservice">Programs/Services</a></li>
                <li><a href="/page/aboutus">About Us</a></li>
                <li><a href="/page/donate">Donate</a></li>
                <li class="relative pc_more_btn"><a href="#">More </a>&nbsp; <i class="fa-solid fa-caret-down"></i>
                    <ul class="sub_menu">
                        <li><a href="/page/contact">Contact</a></li>
                        <li><a href="/page/contributors">Contributors</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--pc header:end-->

<!--mobile header-->
<header class="mobile_header fixed">
    <div class="con">
        <div class="btn_wrap ">
            <div class="subscribe_btn"><i class="fa-solid fa-bell subscribe_icon"></i></div>
        </div>

        <div class="logo-wrap">
            <div class="img"><img class="h-[50px] w-[50px]" src= "/images/fgm-transparent .png" alt=""></div>
            <h1 class="title"><a href="/page/main">FIRE OF GOD MINISTRIES</a></h1>
        </div>

        <div class="menu_expansion_burger">  <i class="fa-solid fa-bars text-[25px] block"></i></a>
        </div>
    </div>
</header>
<!--mobile header:end-->

<!--mobile sideBar -->
<div class="mobile_side_bar inset-0 h-[80vh]">
    <div class="mobile_side_bar__contents w-60 h-full ml-auto flex ">
        <div class="mobile_side_bar__head  pt-[23px] pb-[23px]">
            <i class="fa-solid fa-x text-white font-bold ml-auto block w-[10%] text-[20px]"></i></div>
        <div class="mobile_side_bar__body  flex-grow h-full">
            <div class="mobile_side_bar__body__menu_box">
                <ul>
                    <li><a href="/page/programservice">Programs/Services</a></li>
                    <li><a href="/page/aboutus">About Us</a></li>
                    <li><a href="/page/donate">Donate</a></li>
                    <li class="relative more_btn">
                        <p class=""><a href="#">More</a> &nbsp;<i class="fa-solid fa-caret-down"></i></p>
                        <ul class="mobile_sub_menu">
                            <li><a href="/page/contact">Contact</a></li>
                            <li><a href="/page/contributors">Contributors</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>
<!--mobile sideBar:end -->