<link rel="stylesheet" href="/css/main/connect.css">

<!--Connect-->
<section class="connect">
    <div class="container">
        <h1 class="title_wrap">CONNECT</h1>
        <p>We are so glad that you are here! We would love to help you get connected. Take a look at the
            many ways you can take the next step and let us know how we can help!</p>

        <a href="#">Our History</a>

        <div class="bubble_wrap">
            <div class="visit">
                <div class="inner_wrap">
                    <a href="#">Plan a visit</a>
                    <h1>Thinking About Visiting?</h1>
                </div>
            </div>
            <div class="ministry_areas">
                <div class="inner_wrap">
                    <a href="#">Ministry Areas</a>
                    <h1>Interested in our groups?</h1>
                </div>
            </div>
            <div class="submit_request">
                <div class="inner_wrap">
                    <a href="#">Submit a Request</a>
                    <h1>Have a prayer request?</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Connect-->