<link rel="stylesheet" href="/css/main/event.css">
<section class="event">

    <div class="event_title_wrap">
        <h1>Stay Tuned!</h1>
        <p>Check our upcoming events and schedule your visit!</p>
    </div>

    <div class="event_box_wrap">
<!--      box -->
        <div class="event_box">
            <div class="thumbnail">
                <img src="/images/cross.jpg" alt="">
            </div>
            <div class="box_title_wrap">
                <h1>Easter Egg Hunt!</h1>
                <p>Get together for easter egg hunt.</p>
            </div>
            <div class="calendar">
                <i class="fa-solid fa-calendar"></i>
                <p>04-14-2023</p>
            </div>
            <button class="view_detail"
                    data-bs-toggle="modal" data-bs-target="#event_modal"
                    data-category="1">Check Detail</button>
            </div>
        <!--      box -->

        <!--      box -->
        <div class="event_box">
            <div class="thumbnail">
                <img src="/images/cross.jpg" alt="">
            </div>
            <div class="box_title_wrap">
                <h1>Easter Egg Hunt!</h1>
                <p>Get together for easter egg hunt.</p>
            </div>
            <div class="calendar">
                <i class="fa-solid fa-calendar"></i>
                <p>04-14-2023</p>
            </div>
            <button class="view_detail"
                    data-bs-toggle="modal" data-bs-target="#event_modal"
                    data-category="1">Check Detail</button>
        </div>
        <!--      box -->
        <!--      box -->
        <div class="event_box">
            <div class="thumbnail">
                <img src="/images/cross.jpg" alt="">
            </div>
            <div class="box_title_wrap">
                <h1>Easter Egg Hunt!</h1>
                <p>Get together for easter egg hunt.</p>
            </div>
            <div class="calendar">
                <i class="fa-solid fa-calendar"></i>
                <p>04-14-2023</p>
            </div>
            <button class="view_detail"
                    data-bs-toggle="modal" data-bs-target="#event_modal"
                    data-category="1">Check Detail</button>
        </div>
        <!--      box -->
        <!--      box -->
        <div class="event_box">
            <div class="thumbnail">
                <img src="/images/cross.jpg" alt="">
            </div>
            <div class="box_title_wrap">
                <h1>Easter Egg Hunt!</h1>
                <p>Get together for easter egg hunt.</p>
            </div>
            <div class="calendar">
                <i class="fa-solid fa-calendar"></i>
                <p>04-14-2023</p>
            </div>
            <button class="view_detail"
                    data-bs-toggle="modal" data-bs-target="#event_modal"
                    data-category="1">Check Detail</button>
        </div>
        <!--      box -->

        </div>


    </div>

</section>

<!--Users Info Manager Modal -->
<div class="modal fade" id="event_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Easter Egg Hunt!</h5>
            </div>
            <div class="modal-body">
                <div class="modal_con block">
                    <br>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--User Info Manager Modal -->

<script src="/js/main.js"></script>
