<link rel="stylesheet" href="/css/main/event.css">
<section class="event">

    <div class="event_title_wrap">
        <h1>Stay Tuned!</h1>
        <p>Check our upcoming events and schedule your visit!</p>
    </div>

    <div class="event_box_wrap">
{{#eventPost}}
<!--      box -->
        <div class="event_box">
            <div class="thumbnail">
                <img src={{thumbnailUrl}} alt="">
            </div>
            <div class="box_title_wrap">
                <h1>{{title}}</h1>
                <p>{{subTitle}}</p>
            </div>
            <div class="calendar">
                <i class="fa-solid fa-calendar"></i>
                <p>{{date}}</p>
            </div>
            <button class="view_detail"
                    data-bs-toggle="modal" data-bs-target="#event_modal"
                    data-bs-body={{body}}
                    data-category="1">Check Detail</button>
            </div>
        <!--      box -->
    {{/eventPost}}
        </div>


    </div>

</section>

<!--Event Detail Modal -->

<div class="modal fade" id="event_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
            </div>
            <div class="modal-body">
                <div class="modal_con block">
                    <br>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--Event Detail Modal  -->
<script src="/js/main.js"></script>
<script>
    //eventPost Date Format
    $('.calendar>p').html($('.calendar>p').html().substring(0,11));
</script>