
<link rel="stylesheet" href="/css/main/mainSlide.css">
<!--main_slide-->
<section class="main_slide">
    <div class="slide_wrap relative">
        <div class="slide_1">
            <div class="left_wrap">

            </div>
            <div class="right_wrap relative">
                <div class="text_wrap">
                    <h1 class="slide_title">Our Mission</h1>
                    <p>- "Lorem ipsum dolor sit amet, consectetur adipisicing elit.pellat repudiandae!"</p>
                    <p>- "Lorem ipsum dolor sit amet, consectetur adipisicing elit.pellat repudiandae!"</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="slide_2">
            <div class="left_wrap"></div>
            <div class="right_wrap relative">
                <div class="text_wrap">
                    <h1 class="slide_title">Our Vision</h1>
                    <p>- "Lorem ipsum dolor sit amet, consectetur adipisicing elit.pellat repudiandae!"</p>
                    <p>- "Lorem ipsum dolor sit amet, consectetur adipisicing elit.pellat repudiandae!"</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="slide_3">
            <div class="left_wrap relative"></div>
            <div class="right_wrap relative">
                <div class="text_wrap">
                    <h1 class="slide_title">Our Values</h1>
                    <p>- "Lorem ipsum dolor sit amet, consectetur adipisicing elit.pellat repudiandae!"</p>
                    <p>- "Lorem ipsum dolor sit amet, consectetur adipisicing elit.pellat repudiandae!"</p>

                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>


</section>
<!--main_slide:end-->